*{

    margin: 0;
    padding: 0;
    
}

.Container{

    height: 100vh;
 
}

.Header{

    padding-top: 10px;
    background-color: #252525;
    color: White;
    min-height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 15px;

    color: orange;
    

}

.listItems2 li {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: flex-end; /* Align items to the right */
    padding-right: 15px;
}
.listItems2 li a{
    text-decoration: none;
    color: orange;
    
}
.listItems2 li a :hover{
    text-decoration: underline;
}


.middle{
    padding-left: 12px;
    background-color: #343b3f;
    
    min-height: 85%;
    
}



.footer{

    color: rgba(255, 166, 0, 0.77);
    background-color: #252525;
    min-height: 6.5%;
    display: flex;
    

    /* justify content moves horizontally and align items moves vertically */
    justify-content: center; 
    align-items: center;
    padding :0 10px;
}

.resume-btn{
    border-radius: 25px;
    background-color: #007bff;
    font-size: 16px;
    padding: 10px 20px; 
    text-decoration: none;
    color: white;
   

}

.whole-middle{

    color:white;
    padding-top: 30vh;
    font-size: 5vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
.info-left-middle {
    text-align: center;       /* Ensures the text is centered */
}



.info-left-middle img {
    width: 50px;  
    height: 50px;
    border-radius: 50%; 
    
    object-fit: cover;  /* Ensure image maintains aspect ratio*/
} 


